@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 125 47% 94%;
    --foreground: 20 14.3% 4.1%;
    --card: 125 47% 94%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 125 47% 94%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 123 44% 39%;
    --primary-foreground: 125 47% 94%;
    --secondary: 125 20% 85%;
    --secondary-foreground: 123 44% 20%;
    --muted: 125 20% 85%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 16 25% 29%;
    --accent-foreground: 125 47% 94%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 123 20% 75%;
    --input: 123 20% 75%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 16 25% 29%;
    --chart-3: 125 20% 55%;
    --chart-4: 123 44% 60%;
    --chart-5: 16 25% 50%;
    --radius: 0.5rem;
    --sidebar-background: 125 47% 97%;
    --sidebar-foreground: 123 44% 15%;
    --sidebar-primary: 123 44% 39%;
    --sidebar-primary-foreground: 125 47% 94%;
    --sidebar-accent: 125 40% 90%;
    --sidebar-accent-foreground: 123 44% 15%;
    --sidebar-border: 123 20% 85%;
    --sidebar-ring: 123 44% 39%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 125 47% 94%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 125 47% 94%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 125 47% 94%;
    --primary: 123 44% 39%;
    --primary-foreground: 125 47% 94%;
    --secondary: 123 44% 15%;
    --secondary-foreground: 125 47% 94%;
    --muted: 123 44% 15%;
    --muted-foreground: 125 20% 75%;
    --accent: 16 25% 40%;
    --accent-foreground: 125 47% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 123 44% 15%;
    --input: 123 44% 15%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 16 25% 29%;
    --chart-3: 125 20% 55%;
    --chart-4: 123 44% 60%;
    --chart-5: 16 25% 50%;
    --sidebar-background: 20 14.3% 6.1%;
    --sidebar-foreground: 125 47% 94%;
    --sidebar-primary: 123 44% 39%;
    --sidebar-primary-foreground: 125 47% 94%;
    --sidebar-accent: 123 44% 15%;
    --sidebar-accent-foreground: 125 47% 94%;
    --sidebar-border: 123 44% 15%;
    --sidebar-ring: 123 44% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
